<h1>Listing mock_objects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mock_objects.each do |mock_object| %>
      <tr>
        <td><%= mock_object.name %></td>
        <td><%= link_to 'Show', mock_object %></td>
        <td><%= link_to 'Edit', edit_mock_object_path(mock_object) %></td>
        <td><%= link_to 'Destroy', mock_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mock object', new_mock_object_path %>
